<html>
<head>
<title> Home- Expense Tracker </title>
</head>
<body>
    <h2 align  = "center"> Expense Tracker </h2>
    <hr>
    {% extends "base.html" %}

    {% block content %}
   <form method = "post" action= "/submit">
       <label for = "date"> Date </label> <br>
       <input type="date" id="date" name="date"><br><br>
       
       <label for="category"> Category: </label></br>
       <select id="category" name  = "category">
            <option value = "home and utilities"> Home and Utilities</option>
            <option value = "rent"> Rent </option>
            <option value = "transport"> Transport</option>
            <option value = "groceries">Groceries </option> 
            <option value = "insurance"> Insurance </option>
            <option value = "bills and emi"> Bills and EMI</option>
            <option value = "education"> Education</option>
            <option value = "health and personal care"> Health and Personal Care </option>
       </select>
       <br>
       <br>
        <label for="Amount"> Amount </label><br>
        <input type="Number" id ="amount" name = "amount"><br><br>

        <label for="comment"> Additional Comments </label><br>
        <input type="text" id ="comment" name = "comment"><br><br>

        <input type="submit" id ="submit_data" name="submit_data">
       

       </form>
    {% endblock %}


</body>
</html>